<h1 class="title">Teams</h1>

<div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && teams">
    <table class="projects-table" *ngIf="teams" class="table table-stripped table-hover">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>Members</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of teams">
                <td>{{t.id}}</td>
                <td>{{t.name}}</td>
                <td>{{t.createdAt | truedate }}</td>
                <td>{{t.members.length }}</td>
                <td>
                    <a class="action" routerLink="/teams/{{t.id}}">Details</a>
                    <a class="action" routerLink="/teams/{{t.id}}/edit">Edit</a>
                    <a class="action" (click)="deleteTeam(t.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
