<h1>Edit a task #{{editedTask.id}}</h1>

<form #taskForm="ngForm" id="taskEditForm">

    <input type="number" hidden [(ngModel)]="editedTask.id" name="id" #id="ngModel">

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" [(ngModel)]="editedTask.name" name="name" required minlength="4" 
            autocomplete="off" #name="ngModel" class="form-control">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors?.required">
                This is required field
            </div>
            <div *ngIf="name.errors?.minlength">
                It is necessary at least 4 letters
            </div>
        </div>        
    </div>

    <div class="form-group">
        <label for="state">State:</label>          
        <select name="state" id="state" form="taskEditForm" [ngModel]="editedTask.state"
            (ngModelChange)="editedTask.state=$event" required #state="ngModel" class="form-control">
            <option *ngFor="let state of selectControlValues" [ngValue]="state">{{state | taskstate}}</option>n>
        </select>
        <div *ngIf="state.invalid && state.dirty" class="alert alert-danger">
            Profile required.
        </div>
    </div>

    <div class="form-group">
        <label for="createdAt">Created At:</label>
        <input type="date" [ngModel]="editedTask.createdAt | date:'yyyy-MM-dd'" 
            (ngModelChange)="editedTask.createdAt=$event" name="createdAt" required 
            #createdAt="ngModel" class="form-control">                   
    </div>

    <div class="form-group">
        <label for="finishedAt">Finnished At: <span *ngIf="!editedTask.finishedAt"><i>(not finished yet)</i></span></label>
        <input type="date" [ngModel]="editedTask.finishedAt | date:'yyyy-MM-dd'" 
            (ngModelChange)="editedTask.finishedAt=$event" name="finishedAt" required 
            #finishedAt="ngModel" class="form-control">                   
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea type="text" [(ngModel)]="editedTask.description" name="description" form="projectEditForm" required 
            #description="ngModel"  class="form-control" minlength="20"></textarea>      
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
            <div *ngIf="description.errors?.required">
                This is required field
            </div>
            <div *ngIf="description.errors?.minlength">
                It is necessary at least 20 letters
            </div>
        </div>               
    </div>

    <div class="form-group">
        <button [disabled]="!taskForm.form.valid" class="btn btn-primary" type="submit"
            (click)="editTask()">Edit</button>       
        <button class="btn btn-default mx-2" type="button" (click)="goBack()">Go Back</button>    
    </div>
</form>
