<div class="card">
    <div class="card-header entityName">
        {{team.id}}. {{team.name}}
    </div>
    
    <div class="card-body">
        <table class="table table-hover ">
            <tr>
                <th>CreatedAt:</th>
                <td>{{team.createdAt | truedate}}</td>
            </tr>
            <tr>
                <th>Members:</th>
                <td>
                    <table class="table mt-3">
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Registered At</th>
                                <th>BirthDay </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of team.members">
                                <td>{{user.id}}</td>
                                <td>{{user.firstName}} {{user.lastName}}</td>
                                <td>{{user.email | lowercase}}</td>
                                <td>{{user.registeredAt | truedate}}</td>
                                <td>{{user.birthDay | truedate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="card-footer text-muted">
        <button class="btn btn-primary" (click)="goBack()">Go Back</button>
        <a class="btn btn-info ml-3" routerLink="edit">Edit</a>
        <a class="btn btn-danger ml-3" (click)="deleteTeam(team.id)">Delete</a>
    </div>
  </div>
