nav
    position: fixed
    display: grid
    overflow: hidden
    width: 100%
    grid-template-columns: max-content 1fr
    grid-template-rows: max-content
    padding: 0 0.1rem
    background: #212529  
    z-index: 999
    .brand
        display: block
        grid-column: 1
        grid-row: 1
        text-decoration: none
        font-size: 1.1rem
        font-weight: bold
        justify-self: start
        align-self: center
        padding: 0 0.5rem
        color: #eee

    
main
    position: relative
    top: 50px
    &::-webkit-scrollbar 
        width: 0px
        height: 0px


ul
    grid-column: 2
    grid-row: 1 
    justify-self: start
    list-style-type: none
    overflow: hidden
    margin: 0 1rem
    li
        float: left
        a
            display: block
            color: #eee
            text-align: center
            padding: 0.75rem 1.5rem
            text-decoration: none
            &:hover
                background: #111