<!-- HEADER & NAVIGATION -->
<nav>
    <a class="brand" routerLink="/">Angular Web Client</a>
    <ul>
        <li>
            <a routerLink="projects">Projects</a>
        </li>
        <li>
            <a routerLink="tasks">Tasks</a>
        </li>
        <li>
            <a routerLink="teams">Teams</a>
        </li>
        <li>
            <a routerLink="users">Users</a>
        </li>
    </ul>
</nav>


<!-- MAIN -->
<main>
    <div class="container pt-1">
        <router-outlet></router-outlet>
    </div>
</main>


