<h1>Edit a team #{{editedTeam.id}}</h1>

<form #teamForm="ngForm" id="teamEditForm">

    <input type="number" hidden [(ngModel)]="editedTeam.id" name="id" #id="ngModel">

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" [(ngModel)]="editedTeam.name" name="name" required minlength="4" 
            autocomplete="off" #name="ngModel" class="form-control">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors?.required">
                This is required field
            </div>
            <div *ngIf="name.errors?.minlength">
                It is necessary at least 4 letters
            </div>
        </div>        
    </div>


    <div class="form-group">
        <label for="createdAt">Created At:</label>
        <input type="date" [ngModel]="editedTeam.createdAt | date:'yyyy-MM-dd'" 
            (ngModelChange)="editedTeam.createdAt=$event" name="createdAt" required 
            #deadline="ngModel" class="form-control">                   
    </div>

    <div class="form-group">
        <button [disabled]="!teamForm.form.valid" class="btn btn-primary" type="submit"
            (click)="editTeam()">Edit</button>       
        <button class="btn btn-default mx-2" type="button" (click)="goBack()">Go Back</button>    
    </div>
</form>

