<h1 class="title">Users</h1>

<div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && users">
    <table class="projects-table" *ngIf="users" class="table table-stripped table-hover">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Registered At</th>
                <th>BirthDay</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.firstName | uppercase}} {{user.lastName | uppercase}}</td>
                <td>{{user.email | lowercase}}</td>
                <td>{{user.registeredAt | truedate}}</td>
                <td>{{user.birthDay | truedate}}</td>
                <td>
                    <a class="action" routerLink="/users/{{user.id}}/edit">Edit</a>
                    <a class="action" (click)="deleteUser(user.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>