<h1>Edit a user #{{editedUser.id}}</h1>

<form #userForm="ngForm" id="userEditForm">

    <input type="number" hidden [(ngModel)]="editedUser.id" name="id" #id="ngModel">

    <div class="form-group">
        <label for="name">First Name:</label>
        <input type="text" [(ngModel)]="editedUser.firstName" name="firstName" required minlength="3" 
            autocomplete="off" #firstName="ngModel" class="form-control">
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
            <div *ngIf="firstName.errors?.required">
                This is required field
            </div>
            <div *ngIf="firstName.errors?.minlength">
                It is necessary at least 4 letters
            </div>
        </div>        
    </div>


    <div class="form-group">
        <label for="name">Last Name:</label>
        <input type="text" [(ngModel)]="editedUser.lastName" name="lastName" required minlength="3" 
            autocomplete="off" #lastName="ngModel" class="form-control">
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
            <div *ngIf="lastName.errors?.required">
                This is required field
            </div>
            <div *ngIf="lastName.errors?.minlength">
                It is necessary at least 4 letters
            </div>
        </div>        
    </div>


    <div class="form-group">
        <label for="name">Email:</label>
        <input type="text" [(ngModel)]="editedUser.email" name="email" required  autocomplete="off" 
            #email="ngModel" class="form-control" pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors?.required">
                This is required field
            </div>
            <div *ngIf="email.errors?.pattern">
                Email must be something like: name@server.com
            </div>
        </div>        
    </div>


    <div class="form-group">
        <label for="createdAt">Registered At:</label>
        <input type="date" [ngModel]="editedUser.registeredAt | date:'yyyy-MM-dd'" 
            (ngModelChange)="editedUser.registeredAt=$event" name="registeredAt" required 
            #registeredAt="ngModel" class="form-control">                   
    </div>

    <div class="form-group">
        <button [disabled]="!userForm.form.valid" class="btn btn-primary" type="submit"
            (click)="editUser()">Edit</button>       
        <button class="btn btn-default mx-2" type="button" (click)="goBack()">Go Back</button>    
    </div>
</form>

