<!-- Used *ngFor="let task of task" as a pseudo array because of taskStateDirective -->

<div *ngFor="let task of task" class="card" taskStateDirective option="{{task.state}}">
    <div class="card-header entityName">
        {{task.id}}. {{task.name}}
    </div>

    <div class="card-body">
        <table class="table table-hover ">
            <tr>
                <th>Performer:</th>
                <td>{{task.performer?.firstName}} {{task.performer?.lastName}}</td>
            </tr>
            <tr>
                <th>CreatedAt:</th>
                <td>{{task.createdAt | truedate}}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td [ngClass]="{'canceled-task': task.state?.toString() === '3'}">{{task.state | taskstate }}</td>
            </tr> 
            <tr>
                <th>Finished At:</th>
                <td [ngClass]="{'unfinished-task':!task.finishedAt}">{{task.finishedAt ? (task.finishedAt | truedate) : "Not finished"}}</td>
            </tr> 
            <tr>
                <th>Description:</th>
                <td>{{task.description}}</td>
            </tr>
        </table>
    </div>

    <div class="card-footer text-muted">
        <button class="btn btn-primary" (click)="goBack()">Go Back</button>
        <a class="btn btn-info ml-3" routerLink="edit">Edit</a>
        <a class="btn btn-danger ml-3" (click)="deleteTask(task.id)">Delete</a>
    </div>
  </div>



