<h1>Edit a project #{{editedProject.id}}</h1>

<form #projectForm="ngForm" id="projectEditForm">

    <input type="number" hidden [(ngModel)]="editedProject.id" name="id" #id="ngModel">

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" [(ngModel)]="editedProject.name" name="name" required minlength="4" 
            autocomplete="off" #name="ngModel" class="form-control">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors?.required">
                This is required field
            </div>
            <div *ngIf="name.errors?.minlength">
                It is necessary at least 4 letters
            </div>
        </div>        
    </div>

    <div class="form-group">
        <label for="createdAt">Created At:</label>
        <input type="date" [ngModel]="editedProject.createdAt | date:'yyyy-MM-dd'" 
            (ngModelChange)="editedProject.createdAt=$event" name="createdAt" required 
            #deadline="ngModel" class="form-control">                   
    </div>

    <div class="form-group">
        <label for="deadline">Deadline:</label>
        <input type="date" [ngModel]="editedProject.deadline | date:'yyyy-MM-dd'" 
            (ngModelChange)="editedProject.deadline=$event" name="deadline" required 
            #deadline="ngModel" class="form-control">                   
    </div>

    <div class="form-group">
        <label for="team">Team <i>(curent - {{editedProject.team?.name}})</i>:</label>          
        <select name="team" id="team" form="projectEditForm" [ngModel]="editedProject.team"
            (ngModelChange)="editedProject.team=$event" required #team="ngModel" class="form-control">
            <option *ngFor="let item of teams" [ngValue]="item">{{item.name}}</option>
        </select>
        <div *ngIf="team.invalid && team.dirty" class="alert alert-danger">
            Profile required.
        </div>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea type="text" [(ngModel)]="editedProject.description" name="description" form="projectEditForm" required 
            #description="ngModel"  class="form-control" minlength="20"></textarea>      
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
            <div *ngIf="description.errors?.required">
                This is required field
            </div>
            <div *ngIf="description.errors?.minlength">
                It is necessary at least 20 letters
            </div>
        </div>               
    </div>

    <div class="form-group">
        <button [disabled]="!projectForm.form.valid" class="btn btn-primary" type="submit"
            (click)="editProject()">Edit</button>       
        <button class="btn btn-default mx-2" type="button" (click)="goBack()">Go Back</button>    
    </div>
</form>
