<h1 class="title">Tasks</h1>


<div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && tasks">
    <table *ngIf="tasks" class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Performer</th>
                <th>State</th>
                <th>Created At</th>
                <th>Finished At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks" >
                <td>{{task.id}}</td>
                <td>{{task.name}}</td>
                <td>{{task.performer?.firstName}} {{task.performer?.lastName}}</td>   
                <td taskStateDirective option="{{task.state}}">{{task.state | taskstate }}</td>
                <td>{{task.createdAt | truedate}}</td>
                <td [ngClass]="{'unfinished-task':!task.finishedAt}">{{task.finishedAt ? (task.finishedAt | truedate) : "Not finished"}}</td>

                <td>
                    <a class="action" routerLink="/tasks/{{task.id}}">Details</a>
                    <a class="action" routerLink="/tasks/{{task.id}}/edit">Edit</a>
                    <a class="action" (click)="deleteTask(task.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>