
<div class="card">
    <div class="card-header entityName">
        {{project.id}}. {{project.name}}
    </div>
    
    <div class="card-body">
        <table class="table table-hover ">
            <tr>
                <th>Author:</th>
                <td>{{project.author?.firstName}} {{project.author?.lastName}}</td>
            </tr>
            <tr>
                <th>CreatedAt:</th>
                <td>{{project.createdAt | truedate}}</td>
            </tr>
            <tr>
                <th>Deadline:</th>
                <td>{{project.deadline | truedate}}</td>
            </tr> 
            <tr>
                <th>Description:</th>
                <td>{{project.description}}</td>
            </tr>
            <tr>
                <th>Team:</th>
                <td>"{{project.team?.name}}"</td>
            </tr>
            <tr>
                <th>Tasks:</th>
                <td>
                    <table class="table table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Performer</th>
                                <th>State</th>
                                <th>Created At</th>
                                <th>Finished At</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of project.tasks">
                                <td>{{task.id}}</td>
                                <td>{{task.name}}</td>
                                <td>{{task.performer?.firstName}} {{task.performer?.lastName}}</td>
                                <td [ngClass]="{'canceled-task': task.state.toString() === '3'}">{{task.state | taskstate }}</td>
                                <td>{{task.createdAt | truedate}}</td>
                                <td [ngClass]="{'unfinished-task':!task.finishedAt}">{{task.finishedAt ? (task.finishedAt | truedate) : "Not finished"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="card-footer text-center">
        <button class="btn btn-primary" (click)="goBack()">Go Back</button>
        <a class="btn btn-info ml-3" routerLink="edit">Edit</a>
        <a class="btn btn-danger ml-3" (click)="deleteProject(project.id)">Delete</a>
    </div>
  </div>



