<h1 class="title">Projects</h1>

<div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && projects">   
    <table class="projects-table" *ngIf="projects" class="table table-stripped table-hover">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>CreatedAt</th>
                <th>Deadline</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of projects">
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.author.firstName}} {{p.author.lastName}}</td>
                <td>{{p.createdAt | truedate}}</td>
                <td>{{p.deadline | truedate}}</td>
                <td>
                    <a class="action" routerLink="/projects/{{p.id}}">Details</a>
                    <a class="action" routerLink="/projects/{{p.id}}/edit">Edit</a>
                    <a class="action" (click)="deleteProject(p.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>