@import url('https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css')

*
    margine: 0
    padding: 0
    text-decoration: none
    box-sizing: border-box

.entityName 
    font-size: 2rem
    font-weight: bold


.unfinished-task
    color: #fca440
    font-size: 0.8rem
    font-weight: bold

.canceled-task
    color: #ff7d7d
    font-size: 0.8rem
    font-weight: bold


.title
    padding: 0.5rem 0
    color: #484848

table
    .action
        padding: 0.5rem 0.4rem
        text-decoration: none
        &:hover
            font-weight: 400
            text-decoration: none
            text-shadow: 0px 1px 1px #3b3b3b45
        &:last-child
            color: #007bff
            &:hover
                cursor: pointer
                color: #ff3838
    

snack-bar-container
    &.error-snack-bar 
        background: #a90707
        text-align: center
    &.usual-snack-bar 
        text-align: center
    & span 
        width: 100%


.mat-spinner-wrapper 
    display: flex
    justify-content: center
    align-items: center
    z-index: 999
    background-color: rgba(255, 255, 255, 0.5)
    width: 100%
    height: 100%